.Mobile {
    width: 828px;
}

@media only screen and (min-width: 829px) {
    div.Mobile {
        display: none;
    }
}

@media only screen and (max-width: 828px) {
    div.Desktop {
        display: none;
    }
}