body {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px
}

.left-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-container h2 {
    font-size: 60px;
}

i.logo {
    font-size: 80px;
}

.left-container .mountain {
    display: flex;
}

i.mountain1,
i.mountain2 {
    font-size: 200px;
}

i.mountain1 {
    position: relative;
    right: -100px;
}

#signup-form {
    border-radius: 10px;
    width: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

#signup-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

#signup-form .name {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

#signup-form input {
    height: 32px;
}

#signup-form .button {
    background-color: black;
    color: cornsilk;
    margin: auto;
    height: 32px;
    width: 80px;
}

a:link,
a:visited {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: black;
}

.bottom-mountain {
    display: none;
}

@media only screen and (max-width:828px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .left-container {
        height: 100px;
    }
    .left-container h2 {
        font-size: 30px;
    }
    .left-container .mountain {
        display: none;
    }
    .bottom-mountain {
        display: flex;
    }
}